

  <%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
  
  
  <!--Main Content-->
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About Me</h2>
        <!-- <p></p> -->
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="/Assets/images/My_Photo.jpg" class="img-fluid myPhoto" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Software Developer Engineer in Test</h3>
          <p >
            Detail-oriented and experienced Automation Test Engineer with stellar record of corporate client
          satisfaction. Proven achievement in bringing projects to completion ahead of schedule and under
          budget.
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Designation:</strong> System Engineer in TCS, India(Since 2015)</li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> www.example.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +91 8592029384</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Kochi : Kerala, India</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Work Experience:</strong> 5 Years </li>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> B-Tech in computer Science and Engineering</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> spushpa5@my.centennialcollege.ca</li>
                <!-- <li><i class="icofont-rounded-right"></i> <strong>Email:</strong>spushpa5@my.centennialcollege.ca</li> -->
                <li><i class="icofont-rounded-right color"></i> <strong>Areas of Expertise:</strong> Selenium- Cucumber, SpecFlow, TFS, Azure, Java, C#, Javascript, Python</li>
              </ul>
            </div>
          </div>
          <!-- <p>
            Demonstrable knowledge of selenium WebDriver framework including TestNG, Behavior Driven Development using Cucumber and SpecFlow. I have strong knowledge of test management tools including TFS and Azure DevOps, 
            and automation test engineering methodologies including Waterfall and Agile in Utilities and Insurance domain.
          </p> -->
          <div class="text-center ">
            <a href="Assets/Docs/Resume_Latest.pdf"><button type="button" class="btn btn-primary resume">Resume</button></a>
        </div>
        </div>
        
      </div>

    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
          <a class="page-link" href="/home" tabindex="-1" aria-disabled="true">Previous</a>
          <%-include partials/pagination.ejs%>
          <a class="page-link" href="/project">Next</a>
        </li>
      </ul>
    </nav>
  </section><!-- End About Section -->

  
    
    <%-include partials/footer_nav.ejs%>
    <%-include partials/footer.ejs%>

   
 
    
