

  <%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
  
  
 

  <section id="project" class="project">
    <!-- <h2>Project</h2>
        <p>Brief description about the projects that i have worked on</p> -->
    <div class="container">
      <div class="section-title">
        <h2>Project</h2>
        
        <div class="w3-container w3-center w3-animate-left project-row">
          <img class="img-left" src="/Assets/images/Project1.jpg" alt="code-img">
         <h3>QA for Utilities Account</h3>
          <p>I worked as Quality Assurance Engineer for Utilities account. Where my primary goal to understand the project requirement and test the application manually. I worked with VFS tool for testing and debugging.</p>

        </div>
        <div class="w3-container w3-center w3-animate-right project-row">
          <img class="img-right" src="/Assets/images/Project2.jpg" alt="chillies-img">
  
          <h3>SDET in Insurance Account</h3>
          <p>I worked as Software Developer Engineer in Test. My primary responsibily was to design and develop automation testing framework in Selenium SpecFlow using C# </p>
  
        </div>
        <div class="w3-container w3-center w3-animate-left project-row">
          <img class="img-left" src="/Assets/images/project4.jpg" alt="code-img">
  
          <h3>iMouse - Java</h3>
          <p>Worked as developer in iMouse project. This project was to develop an application for controlling the mouse movement using eye movement of the user.</p>
  
        </div>
      </div>

    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
          <a class="page-link" href="/about" tabindex="-1" aria-disabled="true">Previous</a>
          <%-include partials/pagination.ejs%>
          <a class="page-link" href="/services">Next</a>
        </li>
      </ul>
    </nav>
    
  </section><!-- End Services Section -->
<%-include partials/footer_nav.ejs%>
<%-include partials/footer.ejs%>


  
    
