

  <%-include partials/header.ejs%>
  <%-include partials/main_nav.ejs%>
  
  
  <!--Main Content-->
  <body>
    
    <!-- ======= Services Section ======= class="services section-bg" -->

    <section id="services" class="services d-flex flex-column align-items-center justify-content-center">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Detail-oriented and experienced Automation Test Engineer with stellar record of corporate client satisfaction. Proven achievement in bringing projects to completion ahead of schedule and under budget.</p>
        </div>

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" >
              <div class="icon" id="box1" ><i class="bx bxl-dribbble" ></i></div>
              <h4 class="title"><a href="">Selenium - BDD</a></h4>
              <p class="description">Demonstrable knowledge of selenium WebDriver framework using Cucumber and SpecFlow </p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon" id="box2"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Azure DevOps</a></h4>
              <p class="description">Strong knowledge of test management tools including TFS and Azure DevOps</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon" id="box3"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Excel Power Query</a></h4>
              <p class="description">Demonstrates strong knowledge and understanding of Excel Power Query and other excel functions</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon" id="box4"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">MySQL</a></h4>
              <p class="description">Strong SQL query writing and troubleshooting skills with a solid understanding of data modelling</p>
            </div>
          </div>

        </div>

      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
            <a class="page-link" href="/project" tabindex="-1" aria-disabled="true">Previous</a>
            <%-include partials/pagination.ejs%>
            <a class="page-link" href="/contact">Next</a>
          </li>
        </ul>
      </nav>
    </section><!-- End Services Section -->
    
    <%-include partials/footer_nav.ejs%>
    <%-include partials/footer.ejs%>
  </body>
    
